* {
  font-family: sans-serif;
  list-style: none;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --diameter: 400px;
  --cir-diameter: 100px;
  --circular-line-width: 20px;
  --background: rgb(250, 249, 182);
  --line-color: #e72821;

}

header {
  background-image: url(image/header_bg.jpg);
  padding: 5px;
  line-height: 2px;
  text-align: center;
  border-bottom: solid;
  border-bottom-color: rgb(198, 151, 241);
}

body {
  background-image: url(image/body_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.left {
  float: left;
  background-color: rgb(250, 249, 182);
  width: 35%;
  height: 1250px;
}

.right {
  float: right;
  background: #131F33;
  width: 65%;
  height: 1250px;
}

.right h1 {
  margin-left: 10px;
  color: white;
}

/* 頭貼 */
.headshot {
  margin-left: 40%;
  margin-top: 10px;
  border-radius: 50%;
  width: 100px;
  height: 125px;
  transition: 0.5s;
}

.headshot:hover {
  transform: rotate(360deg);
  width: 200px;
  height: 250px;
}

.social {
  width: 50px;
  height: 50px;
}

.social:hover {
  transform: rotate(15deg);
}

.intro p {
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

/* 圓餅圖 */
.skill {
  height: 200px;
  width: var(--diameter);
}

.set-size {
  font-size: 6.4em;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}

.pie-wrapper:nth-child(3n+1) {
  clear: both;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}

.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}

.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}

.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}

.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}

.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}

.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}

.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
  animation: a30 3s infinite;
}

.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180eg);
}

.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}

.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(180eg);
  animation: a50 3s infinite;

}

.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}

.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}

pre {
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

@keyframes a50 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes a30 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(108deg);
  }
}

/* 長條圖 */
.program {
  width: 425px;
  margin: 60px auto;
  margin: 20px 0;
}

.bar {
  background: #353b48;
  display: block;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #218ee7b3;
}

.bar span {
  height: 2px;
  float: left;
  background: #ffffff;
}

.c {
  width: 90%;
  animation: c 3s infinite;
}

.java {
  width: 85%;
  animation: java 3s infinite;
}

.js {
  width: 60%;
  animation: js 3s infinite;
}

.jsp {
  width: 80%;
  animation: jsp 3s infinite;
}

.py {
  width: 40%;
  animation: py 3s infinite;
}

.html {
  width: 75%;
  animation: html 3s infinite;
}

.css {
  width: 70%;
  animation: css 3s infinite;
}

@keyframes c {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes java {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes js {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}

@keyframes jsp {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes html {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

.life {
  margin-left: 15px;
  height: 10%;
}

.life img {
  border: brown;
  border-style: solid;
}

/* 時間軸 */
.timeline {
  float: left;
  margin-left: 10px;
  width: 35%;
  height: 780PX;
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;
}

.timebox {
  background: #fff;
  padding: 10%;
  font-size: 16px;
  border: 1px solid #ccc;
  line-height: 1.7;
  position: relative;
  height: 175px;
  margin-bottom: 20px;
}

.timebox:before {
  margin-left: 3px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;
}

.timebox:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  border-width: 8px;
  position: absolute;
  left: -17px;
  top: 10px;
}

.timebox h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: merienda;
}

.timebox h3 {
  margin: 0;
  font-family: poppins;
}

.timebox h4 {
  margin: 0;
  font-family: poppins;
}

.picture-container {
  width: 60%;
  height: 780px;
  float: left;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}

.picture {
  margin-top: 15px;
  float: right;
  position: relative;
  width: 50%;
  height: 175px;
} 

.pic {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8%;
}

.text {
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .3);
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
}

.text p:nth-child(1),
.text p:nth-child(2),
.text p:nth-child(3),
.text p:nth-child(4),
.text p:nth-child(5),
.text p:nth-child(6),
.text p:nth-child(7),
.text p:nth-child(8) {
  color: #ffffff;
  font-size: 25px;
  font-family: sans-serif;
}

.text:hover {
  transition: 500ms;
  opacity: 1;
}

.work {
  margin-left: 10px;
}

.work ul li {
  font-size: 18px;
  margin-left: 10px;
  color: white;
}


footer {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 100px;
  clear: both;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

footer img {
  border-radius: 50%;
  margin: 5px;
}

footer p {
  font-family: calibri;
  color: #ffffff;
  font-size: 20;
}