* {
  font-family: sans-serif;
  list-style: none;
  padding: 0;
}

:root{
  --diameter:400px;
  --cir-diameter: 100px;
  --circular-line-width: 20px;
  --background:rgb(250, 249, 182);
  --line-color:#e72821;

}

header {
  background-image: url(image/header_bg.jpg);
  padding: 5px;
  line-height: 2px;
  text-align: center;
  border-bottom: solid;
  border-bottom-color: rgb(198, 151, 241);
}

body {
  background-image: url(image/body_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.left {
  float: left;
  background-color: rgb(250, 249, 182);
  width: 35%;
  height: 1500px;
}

.right {
  float: right;
  background-color: rgb(255, 255, 255);
  width: 65%;
  height: 1500px;
}

.headshot {
  margin-left: 40%;
  margin-top: 10px;
  border-radius: 50%;
  width: 100px;
  height: 125px;
  transition: 0.5s;
}

.headshot:hover {
  width: 200px;
  height: 250px;
}

.social {
  width: 50px;
  height: 50px;
}

.social:hover {
  transform: rotate(15deg);
}

.skill{
  height: 200px;
  width: var(--diameter);
}

#circle{
  margin-left:50px;
  position:absolute;
  width:50px;
  height:100px;
  overflow:hidden;
  border-radius:0 50px 50px 0;
  animation:a 3s infinite linear;
}
#circle:before,#circle:after{
  content:"";
  box-sizing:border-box;
  position:absolute;
  top:0;
  right:0; 
  width:100px;
  height:50px;
  background-color: silver;
  border-width:6px 6px 0;
  border-radius:50px 50px 0 0;
  transform-origin:50px 50px;
}
#circle:before{
  z-index:1;
  animation:a1 3s infinite linear;
  transform:rotate(-90deg);
}
#circle:after{
  opacity:0;
  z-index:2;
  transform:rotate(90deg);
  animation:a2 3s infinite linear;
}
@keyframes a1{
  0%{ 
    transform:rotate(-90deg);
  }
  100%{ 
    transform:rotate(270deg);
  }
}
@keyframes a2{
  0%{
    opacity:0;
  }
  49.99%{
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100%{
    opacity:1;
  }
}
@keyframes a{
  0%{
    margin-left:50px;
    width:50px;
    border-radius:0 50px 50px 0;
  }
  49.99%{
    margin-left:50px;
    width:50px;
    border-radius:0 50px 50px 0;
  }
  50%{
    margin-left:0;
    width:100px;
    border-radius:0;
  }
  100%{
    margin-left:0;
    width:100px;
    border-radius:0;
  }
}

.program {
  width: 450px;
  margin: 60px auto;
  margin: 20px 0;
}

.bar {
  background: #353b48;
  display: block;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #218ee7b3;
}

.bar span {
  height: 2px;
  float: left;
  background: #ffffff;
}

.c {
  width: 90%;
  animation: c 3s infinite;
}

.java {
  width: 85%;
  animation: java 3s infinite;
}

.js {
  width: 60%;
  animation: js 3s infinite;
}

.jsp {
  width: 80%;
  animation: jsp 3s infinite;
}

.py {
  width: 40%;
  animation: py 3s infinite;
}

@keyframes c {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes java {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes js {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}

@keyframes jsp {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes py {
  0% {
    width: 0;
  }

  100% {
    width: 40%;
  }
}